html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/change-background-color-on-wix-1024x678.jpg");
  background-size: cover;
}

.login-page-container {
  width: 60%;
  height: 40%;
  border: 2px black;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-page-container > p {
  color: white;
  font-size: 36pt;
}

.option-button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  transition: transform 250ms ease-in,
    transform 200ms ease;
}

.option-button-container > button {
  width: 250px;
  height: 50px;
  border: none;
  font-size: 13pt;
  transition: background 250ms ease-in,
    transform 200ms ease;
}

.option-button-container > button:hover {
  background: #a7a7fc;
  color: white;
}

.detail-info-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-info-container > form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.detail-info-container > form > input {
  width: 100%;
  height: 40px;
  font-size: 18pt;
}

.detail-info-container > form > button {
  width: 50%;
  height: 35px;
  font-size: 13pt;
}

.detail-info-container > button {
  margin-top: 10px;
  width: 50%;
  height: 35px;
  font-size: 13pt;
}

.detail-info-container > form > button, .detail-info-container > button {
  border: none;
  transition: background 250ms ease-in,
    transform 200ms ease;
}

.detail-info-container > form > button:hover, .detail-info-container > button:hover {
  background: #a7a7fc;
  color: white;
}